{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Windward Apps</title>

  <link rel="icon" type="image/svg" href="{% static 'app/images/logo-50x45.png' %}">
  <link rel="apple-touch-icon" href="{% static 'app/images/logo-150x136.png' %}">
  <link rel="apple-touch-startup-image" href="{% static 'app/images/logo-150x136.png' %}">

  <link href="//fonts.googleapis.com/css?family=Poppins:300,400|Varela" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'app/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/nav-links.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/util.css' %}" />
  <!-- <script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script> -->
  <script src="{% static 'app/jquery.min.js' %}"></script>
</head>

<body class="font-modern">
  {% block nav %}
  <nav id="nav" class="nav">
    <div class="container">
      <a href="/" class="logo">
        <img src="{% static 'app/images/logo-white-100x91.png' %}" />
        <span>Windward Apps</span>
      </a>
      <input type="checkbox" class="nav-menu-trigger"></button>
      <div class="links">
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/news">News</a>
        {% if user and user.is_authenticated %}
          <a href="/logout">Logout {{ user.username }}</a>
        {% else %}
          <a href="/login">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% endblock nav %}

  <div id="main">
    {% block content %}{% endblock %}
  </div>

  {% block footer %}
  <footer>
    <div class="container">
      &copy;
      <span id="year">2018</span> Windward Apps
    </div>
  </footer>
  {% endblock footer %}

  <script>
    $(document).ready(function() {
      $('.nav-menu-trigger').on('change', function() {
        $('body').toggleClass('no-scroll')
      })
    })
  </script>
</body>

</html>