{% extends "app/base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/form.css' %}" />
  <style>
    form {
      max-width: 350px;
      margin: 25px auto;
    }
    h2 {
      margin-bottom: 10px;
    }
  </style>
  <div class="form-container">
    <div class="container">
      <form id="form" action="/login" method="post" data-ajax-form data-success-url="/">
        <h2>Login</h2>
        <div class="message"></div>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

  <script src="{% static 'app/form.js' %}"></script>
  <script src="{% static 'app/ajaxForm.js' %}"></script>
{% endblock %}
