{% extends "app/base.html" %}
{% load static %}

{% block content %}
  <style>
    .services {
      font-size: 18px;
    }
    .services .section {
      padding: 40px 0;
    }
    .services .section + .section {
      border-top: 1px solid #ddd;
    }
    .services h2 {
      font-size: 30px;
      margin-bottom: 40px;
    }
  </style>
  <div class="services">
    <div class="pagename">
      <div class="container">
        <h1 class="title">Services</h1>
      </div>
    </div>
    <div class="banner">
      <div class="container">
        <h3>Next-gen applications. Waiting to appear on your screen.</h3>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h2>Web</h2>
        <p>
          Our wheelhouse is web engineering. There is a good reason why web apps are surpassing
          mobile apps in terms of return on investment (ROI): ubiquity. Your organization and your
          users can all access your web-based software via a browser on any device at any time.
        </p>
        <p>
          With web applications there is no need for duplicate efforts in building the same app for multiple
          platforms (for example, iOS and Android or macOS and Windows).
        </p>
        <p>
          There is no delay in delivering the software to your users—no waiting on app store approvals, no
          waiting on users to update the app on their device. Instead, after deploying your application to a
          cloud server, the next time your users access a page they will get the latest version with the latest
          features.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h2>Mobile</h2>
        <p>
          We love Web, but it's not a silver bullet. Sometimes you need native device capabilities for full access
          to hardware, system APIs, and low-level performance. For those requirements we build native iOS and
          Android apps with top-tier user experience and hardware integrations.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h2>Cloud</h2>
        <p>
          Cloud software is invaluable to the modern organization. Slash your IT bills and infrastructure complexity
          by deploying backends to cloud servers instead of on-premise machines. Deliver software instantly to your
          users. Scale your apps up to provide better performance during peak hours. Scale down during slow hours
          to save on costs. Oh, and have it all automated out-of-the-box thanks to intelligent services baked in
          to cloud providers like DigitalOcean and Amazon Web Services. And call us at any time for support of
          your entire cloud complex.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h2>And more</h2>
        <p>
          We push our boundaries to help you push yours. We have experience branching out from
          the typical application environments to bring innovative solutions that solve your problems.
          Desktop? Geographic information systems (GIS)? Raspberry Pi? Yeah, we've built apps for that.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
