* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #555;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

a {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

input, textarea, button {
  appearance: none;
  background: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 10px 14px;
  width: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
button {
  border-color: #009cb2;
  color: #009cb2;
  background: none;
  cursor: pointer;
}
button:active {
  border-color: #009cb2;
  background-color: #009cb2;
  color: #fff;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

nav {
  background-image: linear-gradient(45deg, #00c8ef80, #00ef6f80);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

nav ul {
  display: flex;
}
nav a {
  color: #fff;
}

footer {
  background: #555;
  color: #eee;
  padding: 100px 20px;
}

#main {
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

form button[type="submit"] {
  margin-top: 15px;
}
form .message {
  margin: 20px 0;
  text-align: center;
  color: red;
}
form .field-message {
  color: red;
  margin: 5px 0 0 0;
  font-size: 85%;
}
form .success-message {
  margin: 20px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 3px 10px;
}