.input-field {
  position: relative;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 17px;
  cursor: text;
}
.input-field label {
  position: absolute;
  transition: all 150ms ease-in-out;
  top: 31px;
  left: 15px;
  color: #ccc;
  font-size: 14px;
}
.input-field input:focus + label,
.input-field textarea:focus + label {
  top: 1px;
  left: 1px;
  color: blue;
  font-size: 12px;
}
.input-field input:not(:focus) + label,
.input-field textarea:not(:focus) + label {
  cursor: text;
}
.input-field input.has-value:not(:focus) + label,
.input-field textarea.has-value:not(:focus) + label {
  display: none;
}
textarea {
  min-height: 200px;
}
