nav .links a + a {
  margin-left: 40px;
}
nav .nav-menu-trigger {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  background-color: #0000;
  background-image: url("images/menu.svg");
}
nav .nav-menu-trigger:focus {
  outline: none;
}
nav .nav-menu-trigger:checked {
  background-image: url("images/close.svg");
  position: relative;
  z-index: 200;
}
nav .nav-menu-trigger:checked + .links {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 70px 0 10px;
  background: #172E53;
  animation: fade-in 100ms ease-in-out;
}
nav .nav-menu-trigger:checked + .links a + a {
  margin-left: 0;
}
nav .nav-menu-trigger:checked + .links a {
  display: block;
  padding: 15px 20px;
  font-size: 20px;
  line-height: initial;
}
@media (max-width: 768px) {
  nav .container {
    padding-right: 0;
  }
  nav .nav-menu-trigger {
    display: flex;
  }
  nav .nav-menu-trigger:not(:checked) + .links {
    display: none;
  }
}
@media (min-width: 769px) {
  nav .container {
    padding-right: 20px;
  }
  nav .nav-menu-trigger {
    display: none;
  }
}
