{% extends 'blog/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/list.css' %}" />
<div class="pagename">
  <div class="container">
    <h1 class="title">News</h1>
  </div>
</div>
<div class="banner">
  <div class="container">
    <h3>Keep up with Windward Apps</h3>
  </div>
</div>
<div class="container">
  <ul class="blog-entries">
    {% for entry in object_list %}
    <li>
      <a href="/news/{{ entry.slug }}">
        <div class="image">
          <img src="{% static 'blog/images/' %}{{ entry.image_url }}" />
        </div>
        <div class="info">
          <div class="headline">{{ entry.headline }}</div>
          <div class="date">{{ entry.pub_date|date }}</div>
        </div>
      </a>
    </li>
    {% empty %}
    <li>No entries yet.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}